{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>{% block title %}CardQuest Master{% endblock %}</title>
  </head>
  <body>
    <!--NAVBAR-->
    <section class="navbar">
      <a href="{% url 'home' %}" class="btn" id="active"> Home </a>
        <a href="{% url 'trainer-list' %}" class="btn"> Trainer </a>
        <a href="{% url 'pokemon-cards' %}" class="btn"> Pokemon Card </a>
        <a href="{% url 'collection' %}" class="btn"> Collection </a>
    </section>

    <!--COLLECTION-->
    <a href="{% url "collection_add" %}" class="btn btn-outline-primary">Add New Collection</a>
    <br>
    <main>
      <section class="collection-container">
        <table class="styled-table">
          <tbody>
            <tr>
              <th>Trainer</th>
              <th>Pokemon Card</th>
              <th>Collection Date</th>
              <th>Action</th>
            </tr>

            {% for object in object_list %}
            <tr>
              <td>{{ object.trainer }}</td>
              <td>{{ object.card }}</td>
              <td>{{ object.collection_date }}</td>
              <td>
                <a href="{% url 'collection_edit' pk=object.id %}">Edit</a>
                <a href="{% url 'collection_delete' pk=object.id %}">Delete</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">No Collection</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'includes/pagination.html' %}
      </section>
  </main>
  {% include 'includes/footer.html' %}
  </body>
</html>